/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var( --white-color);
    color:var(--black-color);
    height: 9.5vh;
    position: sticky; /* Sticky navbar */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it's above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    cursor: pointer;
    width: 210px;
}

.navbar-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar-links li {
    display: inline-block;
    position: relative;
}

.navbar-links a {
    display: flex;
    color: #000;
    text-decoration: none;
    position: relative;
    height: 1.8rem;
    font-weight: 600;
}

.navbar-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the height for the underline */
    background-color: var(--orange-color); /* Color of the underline */
    transition: width 0.3s ease-in-out;
    border-radius: 3px;
    font-weight: 800;
}

.navbar-links a.active::after {
    width: 100%;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links a {
        text-align: center;
        padding: 0.5rem;
    }
}
